# Valid values are intel/amd
system_type="intel"

# Hypervisor config
proxmox = {
  api_endpoint       = "hhttps://192.168.0.103:8006/api2/json"
  username           = "root"
  password           = "passwoord"
  ip                 = "192.168.0.100"
  default_bridge     = "vmbr0"
  target_node        = "pve"
}

# Cluster config
autostart    = true
master_config = {
  count   = 1
  memory  = "2048"
  vcpus   = 2
  sockets = 1
}

worker_config = {
  count   = 1
  memory  = "2048"
  vcpus   = 2
  sockets = 1
}

# HA Proxy config
ha_proxy_server = "192.168.0.101"
ha_proxy_user   = "wireproxy"

storage_volume  = "local-lvm"
machine_id      = 8000
